@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,400;1,400&family=JetBrains+Mono&display=swap');

body {
    font-family: 'Crimson Pro', serif;
    background-color: #F6F1EA;
}

header {
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
}

.logo {
    width: 296px;
}

.title > h2 {
    text-transform: uppercase;
    font-family: 'JetBrains Mono', monospace;
    color: #965613;
    font-size: 14px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-weight: 400;
    margin: 0;
    border-top: solid 1px #E2DACE;
}

.owl {
    background-color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    max-width: 250px;

}

.owl > p, h3 {
    text-align: center;
    font-weight: 400;
    line-height: 1.2;
    font-size: 19px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    font-family: 'Crimson Pro', serif !important;
}

.owl > p {
    color: #766967;
}

.owl > h3 {
    color: #12602C;
    margin-top: 28px;
}

#sci-name, #location {
    font-style: italic;    
}

#date-time {
    font-family:'JetBrains Mono', monospace;
    font-size: 14px;
    margin-top: 30px;
}

#location {
    padding-bottom: 30px;
    margin-bottom: 0;
}

.owl-pic {
    width: 250px;
    margin-top: 20px;
}

.stats {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

.stats > div {
    max-width: 370px;
    background-color: #fff;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    margin-top: 30px;
}

.stats > div > h3 {
    font-size: 74px;
    padding-right: 40px;
    padding-left: 40px;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 20px;
    color: #C77F35;
    font-weight: 200;
    line-height: 1;
}

.stats > div > p {
    font-size: 19px;
    margin: 0;
    line-height: 1.2;
    color: #766967;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 76px;

}
.sightings-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    /* justify-content: space-evenly; */
}

footer {
    color: #786967;
    text-align: center;
    padding-top: 34px;
    padding-bottom: 34px;
    border-top: solid 1px #E2DACE;
}

footer > p > a {
    color: #786967;
}

footer > p {
    margin: 0;
    line-height: 1.9;
    font-family:'JetBrains Mono', monospace;
    font-size: 14px;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.recent-sightings {
    padding-bottom: 70px;
}

.leaflet-container {
    height: 600px;
    width: 100%;
  }

/* Styles for loading animation */
@keyframes growAnimation {   
    from {   
      transform: scale(0);   
    }   
    to {   
      transform: scale(1);   
    }
  }.loading-owl-image {   
    width: 100px;   
    height: 100px;    
    animation: growAnimation 0.9s ease-in-out infinite;   
  }

  .loading-image-container {
      margin-left: auto;
      margin-right: auto;
      width: 100px;
  }

  .loading-text > p {
    font-family: 'Crimson Pro', serif;
    color: #C77F35;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 50px;
  }

  .popup {
      width: 300px;
  }

@media (max-width:620px) {
    .leaflet-container {
        height: 400px;
    }
}

  
