@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
body {
    font-family: 'Crimson Pro', serif;
    background-color: #F6F1EA;
}

header {
    padding-top: 90px;
    padding-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.logo {
    width: 296px;
}